{
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf"
}
